@import "../libs/bootstrap5/bootstrap-reboot.min.css";
@import "../libs/bootstrap5/bootstrap-grid.min.css";
@import "css/header.css";
@import "css/content.css";
@import "css/footer.css";

.font1{
    font-family:'Nunito', sans-serif !important;
}

.font2{
    font-family:'Roboto', sans-serif !important;
}

h1
{
    font-family:'Roboto', sans-serif !important;  
    font-size: 80px;
    font-weight: 700;
    color: white;
}

/*We are using all of headers once, styles for them declared here*/
h2
{
    font-family: 'Roboto', sans-serif !important;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

h3
{
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
    color: gray;
}

body
{
    color: black;
    background-color: black;
}

.navbar-menu a
{
    text-decoration: none;
    font-family: "Nunito", sans-serif !important;
    font-size: 20px;
    line-height: 24px;
    font-weight: 200;   
}

.navbar-menu li
{
    display:inline-block;
    margin-top: 50px;
}


.navbar-menu li a
{
    color: white;
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-menu .logo
{
    margin-left: 120px;
    padding-right: 40px;
}


.hdr-btn
 {
    margin-left: 550px;
    background-color: transparent;
    border: 2px solid #86A4F2;
    border-radius: 40px;
    padding: 20px 30px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
    display: inline-block;
  }
  
  .hdr-btn:hover 
  {
    transform: scale(0.9);
    color: #6b88da;

  }

  .content h1
  {
    margin-top: 280px;
    margin-left: 220px;
  }
  .content h2
  {
    margin-top: -10px;
    margin-left: 242px;
  }

  .content h3
  {
    margin-left: 190px;
  }

  .cnt-btn
  {
    margin-left: 320px;
    margin-top: 25px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #86A4F2;
    border-radius: 40px;
    padding: 20px 30px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
    display: inline-block;
  }

  .cnt-btn:hover
  {
    transform: scale(0.9);
    color: #6b88da;
  }

  .ErText
  {
    float:left;
  }

  .spaceHero
  {
    position: relative;
  }

  .spaceHero .elipce
  {
    float:right;
    float:top;
    margin-top: 20px;
    margin-right: 180px;
    position: absolute; 
    top: 0;
    right: 60px;
  }
  

  .spaceHero .hero 
  {
    float:right;
    float:top;
    margin-top: 20px;
    margin-right: 180px;
    position: absolute; 
    top: 230px;
    right: 210px;
  }